<div class="container-fluid bg">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2>Resources</h2>
                <hr> XRP Overview
                <br>How to Buy XRP
                <br>Insights
                <br>Collateral Press Center
            </div>
            <div class="col-3">
                <h2>Regulators
                </h2>
                <hr> Compliance
                <br>Policy Framework
            </div>
            <div class="col-3">
                <h2>Support</h2>
                <hr> Contact Us
                <br>Developer Center Ripple Forum
            </div>
            <div class="col-3">
                <h2>About</h2>
                <hr> FAQ Our Company
                <br>Careers
                <br>RippleNet Advisory Board
                <br>SBI Ripple Asia RippleWorks
            </div>
        </div>

        <div class="row information">
            <div class="col-9">
                <p>© 2018 Tellabit, All Rights Reserved.</p>
            </div>
            <div class="col-3 text-right">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
                <i class="fa fa-twitter fa-2x fa-fw"></i>
                <i class="fa fa-linkedin fa-2x fa-fw"></i>
            </div>
        </div>
    </div>
</div>
