$bg-color: #4e4e50;
$text-color: #fff;

.bg {
    background: $bg-color url('/assets/footer.jpg') repeat-x center center;
    background-color: $bg-color;
    color: $text-color;
    height: 400px;
    padding: 20px 0;
}

hr {
    border-color: $text-color;
}

.information {
    padding-top: 80px;
}
