<nav class="navbar fixed-top navbar-expand-lg" [ngClass]="{'unscrolled-nav': !scrolled, 'navbar-dark': scrolled, 'bg-dark': scrolled}">
    <div class="container">

        <a class="navbar-brand" routerLink="/">
            <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top spacing">Tellabit
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about">Technology</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/team">Team</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Community
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Twitter</a>
                        <a class="dropdown-item" href="#">Discord</a>
                        <a class="dropdown-item" href="#">GitHub</a>
                        <a class="dropdown-item" href="#">Reddit</a>
                        <a class="dropdown-item" href="#">Medium</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/support-us">Support Us</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/" pageScroll href="#register" [ngClass]="{'btn-primary': !scrolled, 'btn-outline-primary': scrolled}">Register Interest</button>
            </div>
        </div>

    </div>
</nav>
