<div class="jumbotron jumbotron-fluid hero">
    <div class="container">
        <h1 class="display-3">The Team</h1>
        <p class="lead">Lorem Ipsum this is the home page</p>
    </div>
</div>


<section>
<div class="container">
               <h2>Bug Bounty Program</h2>
               <p>At Tendermint, we strongly believe in compensating researchers for the time they invest in making cryptocurrencies stronger and more resilient. Depending on the severity and criticality of an issue, researchers who report bugs and respect our vulnerability disclosure policy may be eligible for rewards through our <a href="https://blog.cosmos.network/bug-bounty-program-for-tendermint-cosmos-833c67693586">bug bounty program</a> with HackerOne.</p>

</div>
</section>

<hr>


<div class="container">
    <h1>Meet the team</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/team/max.jpg" alt="Max Chamberlin">
        <div class="card-body">
            <h5 class="card-title">Max Chamberlin</h5>
            <p class="lead lead-role">CEO</p>
            <p class="card-text">Some text about Max</p>
            <a target="_blank" href="https://www.linkedin.com/in/max-chamberlin-8a68093b/">
                <i class="fa fa-linkedin social-icon"></i>
            </a>
        </div>
    </div>





</div>
