<div class="jumbotron jumbotron-fluid hero">
    <div class="container">
        <h1 class="display-3">The Team</h1>
        <p class="lead">Lorem Ipsum this is the home page</p>
    </div>
</div>

<div class="container">
    <h1>Meet the team</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/team/max.jpg" alt="Max Chamberlin">
        <div class="card-body">
            <h5 class="card-title">Max Chamberlin</h5>
            <p class="lead lead-role">CEO</p>
            <p class="card-text">Some text about Max</p>
            <a target="_blank" href="https://www.linkedin.com/in/max-chamberlin-8a68093b/">
                <i class="fa fa-linkedin social-icon"></i>
            </a>
        </div>
    </div>
</div>
