<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Some text</h1>
        <p class="lead">Lorem Ipsum this is the home page</p>
    </div>
</div>


<div class="container">
    <h1>Register Interest</h1>

    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control form-control-lg" placeholder="name@example.com">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Which country you from fam?</label>
            <select class="form-control form-control-lg">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>How many coins would you buy?</label>
            <select multiple class="form-control form-control-lg">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control form-control-lg" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
</div>
