<div class="jumbotron jumbotron-fluid hero">
    <div class="container">
        <h1 class="display-3">Tellabit</h1>
        <p class="lead">A sharded block-chain, infintely scalable, provably secure.</p>
        <p class="lead">
            <button class="btn btn-primary btn-lg" pageScroll href="#register">ICO Gateway</button>
        </p>
    </div>
</div>




<section>
    <div class="container">

        <h2>Coordinated Vulnerability Disclosure Policy</h2>
        <p>We ask security researchers to keep vulnerabilities and communications around vulnerability submissions private and
            confidential until a patch is developed to protect the people using Tendermints protocols. In addition to this,
            we ask that you:</p>
        <ul>
            <li>Allow us a reasonable amount of time to correct or address security vulnerabilities.</li>
            <li>Avoid exploiting any vulnerabilities that you discover.</li>
            <li>Demonstrate good faith by not disrupting or degrading Tendermints data or services.</li>
        </ul>

    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img class="card-img-top" style="height: 50px; width: auto;" src="/assets/mobile-phone.png" alt="mobile phone.png">
                <h2>Download our apps</h2>
                <p>Want Tellabit in your pocket? Download the App for iOS or Android and start sending and receiving payments
                    from anywhere in the world on your mobile device.</p>

                <p>
                    <button type="button" class="btn btn-primary">Sign up for the iOS Wallet Beta</button>
                </p>

                <p>
                    <button type="button" class="btn btn-primary">Sign up for the Android Wallet Beta</button>
                </p>

            </div>
            <div class="col text-center">

                <img class="card-img-top" style="height: 60px; width: auto;" src="/assets/desktop-monitor.png" alt="desktop monitor">
                <h2>Run on your Desktop</h2>
                <p>Like the idea of managing your Tellabit locally? Sync the Tellabit Wallet to your desktop for added convenience
                    and security to ensure you are in total control.</p>

                <p>
                    <button type="button" class="btn btn-primary">Sign up for the Tellabit Wallet Beta</button>
                </p>

                <h5>Classic Wallet</h5>
                <p>
                    <button type="button" class="btn btn-light">Download Windows</button>
                    <button type="button" class="btn btn-light">Download MacOS</button>
                    <button type="button" class="btn btn-light">Download Linux</button>
                </p>

            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col">
                <h3>Looking to start a node? Grab the Linux build here:</h3>
                <p>
                    <button type="button" class="btn btn-light">Download 64bit</button>
                    <button type="button" class="btn btn-light">Download AVX2 Optimized</button>
                    <button type="button" class="btn btn-light">Download Source</button>
                </p>
            </div>
        </div>
    </div>
</section>

<hr>

<section>
    <div class="container">
        <h2>Use cases for Tellabit</h2>
        <div class="row">

            <div class="text-center col-3">
                <img src="/assets/usecase-trading-pairs.jpg" alt="" style="width:100%">
                <div class="image-caption text-white">
                    <h5>Ideal Trading Pair</h5>
                    <p>Tellabit's instant and zero-fee transactions make it ideal for cryptocurrency traders</p>
                </div>
            </div>


            <div class="text-center col-3">
                <img src="/assets/usecase-peer-to-peer.jpg" alt="" style="width:100%">
                <div class="image-caption text-white">
                    <h5>Peer to Peer</h5>
                    <p>Quickly pay friends and family using Tellabit, whether you're paying rent, or splitting a taxi fare or
                        bill
                    </p>
                </div>
            </div>

            <div class="text-center col-3">
                <img src="/assets/usecase-micropayments.jpg" alt="" style="width:100%">
                <div class="image-caption text-white">
                    <h5>Micropayments</h5>
                    <p>Use Tellabit to pay small amounts for digital asset rights, content subscriptions and more</p>
                </div>
            </div>

            <div class="text-center col-3">
                <img src="/assets/usecase-business-to-customer.jpg" alt="" style="width:100%">
                <div class="image-caption text-white">
                    <h5>Business to Customer</h5>
                    <p>Seamless checkouts are right around the corner with Tellabit, whether in store or online</p>
                </div>
            </div>

        </div>
    </div>
</section>

<hr>


<section class="inverse">
    <div class="container">
        <h2>Bug Bounty Program</h2>
        <p>At Tendermint, we strongly believe in compensating researchers for the time they invest in making cryptocurrencies
            stronger and more resilient. Depending on the severity and criticality of an issue, researchers who report bugs
            and respect our vulnerability disclosure policy may be eligible for rewards through our
            <a href="https://blog.cosmos.network/bug-bounty-program-for-tendermint-cosmos-833c67693586">bug bounty program</a> with HackerOne.</p>
        <ul>
            <li>Bounty reward amounts are based on many factors, including impact, risk, likelihood of exploitation, and report
                quality.
            </li>
            <li>There is no maximum reward in the program, but critical bugs are eligible for rewards equivalent to $2,500 in
                ETH or more. For severe bugs or exceptional bug reports, we may decide to pay lower-tier bugs a higher-tier
                reward.
            </li>
            <li>Program rewards will be paid in ETH, and will be calculated using prices at the time of payment.</li>
            <li>If we receive duplicate bug reports, we will award a bounty to the first person who reported the issue.</li>
            <li>Any bugs that are found in services that we use (i.e. Mailchimp, Meetup, RiotChat) are ineligible for rewards,
                and should be disclosed directly to those services.</li>
        </ul>
        <p>To learn more about the scope of our bug bounty program or to report a bug, please visit HackerOne.</p>
    </div>
</section>

<hr>

<!--
<section>
    <div class="container">
        <h1>Latest from Tellabit</h1>
        <table class="table table-light">
             <thead>
                <tr>
                <th scope="col">Post</th>
                <th scope="col">Date</th>
                <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Homepage updated!</th>
                <td>27 Feb 2018</td>
                <td>Otto Johnson</td>
                </tr>
                <tr>
                <th scope="row">No more news...</th>
                <td>27 Feb 2018</td>
                <td>Otto</td>
                </tr>
                <tr>

            </tbody>
        </table>
    <p class="lead"><button class="btn btn-primary btn-lg" pageScroll href="#register">Read all updates</button></p>
    </div>
<hr>
-->

<section>
    <div class="container" id="register">


        <h2>Subscribe to our Newsletter</h2>
        <h4>Stay Tuned in for our Upcoming ICO</h4>
        <p>We ask security researchers to keep vulnerabilities and communications around vulnerability submissions private and
            confidential until a patch is developed to protect the people using Tendermints protocols. In addition to this,
            we ask that you:</p>


        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control form-control-lg" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="email" class="form-control form-control-lg" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="email" class="form-control form-control-lg" placeholder="">
            </div>
            <div class=" text-center">

                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>


    </div>
</section>
